@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

.background {
  background-color: #141414;
}

.title-styles {
  color: #d9d9d9;
}

.title-name-styles {
  color: #ffc97c;
}

.title-name-styles-underlined {
  color: #ffc97c;
  text-decoration: underline;
}
