.title-styles {
  color: #ececec;
  font-size: 40px;
  line-height: 1.4em;
  font-weight: 400;
}

.title-name-styles {
  color: #ffc97c !important;
}

.title-name-styles-underlined {
  color: #ffc97c !important;
  font-weight: bold !important;
}

.title-jobs-styles-underlined {
  color: #ffc97c !important;
}

.title-email-styles-underlined {
  color: #f29479 !important;
  text-decoration: underline;
}

.subtitle {
  color: #d9d9d9;
  font-size: 24px;
}

.subtitle-format {
  padding-top: 0.8em;
}

.text-background-oae,
.text-background-uesp {
  border-radius: 4px;
  padding: 0.2em;
}

.text-background-oae {
  background-color: #ced9ff;
  color: #001233;
  &:hover {
    background-color: #84cae7;
    color: #001233;
  }
}

.text-background-uesp {
  background-color: #f7b267;
  color: #312621;
  font-weight: 600;
  &:hover {
    background-color: #f9dcc4;
    color: #312621;
  }
}

.text-background-oae::before,
.text-background-uesp::before {
  content: "\00a0 ";
}

.download-cv {
  margin-top: 0.5em;
  background-color: #313131;
  color: #d9d9d9;
  border: none;
  &:hover {
    color: white;
    background-color: #373737;
  }
  &:active {
    color: white;
    background-color: #373737;
  }
  &:focus {
    color: white;
    background-color: #373737;
  }
}

// Social Media
.social-media-tabs {
  margin: -5rem 0 3rem 0;
  font-size: 0.3em;
}

.tabs a {
  color: #d9d9d9;
  border: none;
  &:hover {
    color: #ffc97c;
  }
}

li.tabs-first {
  padding: 0.5rem 0.5rem 0.5rem 0;
  color: #ffc97c;
  font-size: 4em;
  font-weight: 500;
}

.tabs-format {
  padding: 0.5rem;
}

hr {
  width: 2%;
  margin: 1em 0 0 0;
  border: 1px solid #373737;
}

// Responsive Queries
@media screen and (min-width: 1201px) {
  .header-break::before {
    content: "\a";
    white-space: pre;
  }
}
